h1= title
p Welcome to #{title}
fieldset
 div.clearfix
  label Messages
  div.input
   textarea#messages.xxlarge
   span.help-block You will see messages sent to the room above
 div.clearfix
  label Type your message
  div.input
   input.xlarge#themessage
 div.well
  button.btn.primary#sendButton Send Message
  