h1= title
div#messages.hero-unit
 p Welcome to #{title}
fieldset
 div.clearfix
  label Type your message
  div.input
   input.xlarge#themessage
 div.well
  button.btn.primary#sendButton Send Message
  