!!!
html
 head
  title= title
  link(rel='stylesheet', href='/stylesheets/bootstrap-1.1.1.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript', src='/javascripts/socket.io.js')
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(type='text/javascript', src='/javascripts/application.js')

body
 div.topbar-wrapper
  div.topbar
   div.fill
    div.container
     h3
      a(href="#") NodeJs Chatme Client
div.container!=body
